fetchspine
!cmd/fetchspine/

forwardspine
!cmd/forwardspine/

runfromspine
!cmd/runfromspine/

policyscenario
!cmd/policyscenario/

credibilityreport
!cmd/credibilityreport/

scenarioplot
!cmd/scenarioplot/

posteriors/*
artifacts/